.navbar-one{
    background-color: black;
    text-align: center;
    display: flex;
    color: white;
}



.color{
    background-color: rgb(52, 136, 204);
    

}

.bodys{
    background-color: rgb(52, 136, 204);
}

.currentDay {
    font-size: larger;
}

